<!DOCTYPE html>
<html lang="pt-br" 
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Usuário Info</title>
        
        <!-- App favicon -->
        <link rel="shortcut icon" href="/images/favicon.ico">
        <!-- Bootstrap Css -->
        <link href="/css/bootstrap.min.css" id="bootstrap-style" rel="stylesheet" type="text/css" />
        <!-- Icons Css -->
        <link href="/css/icons.min.css" rel="stylesheet" type="text/css" />
        <!-- App Css-->
        <link href="/css/app.min.css" id="app-style" rel="stylesheet" type="text/css" />
    </head>
<body>

	<!-- <body data-layout="horizontal"> -->

	<!-- Begin page -->
	<div id="layout-wrapper">

		<!-- NAV SUPERIOR - (TOGGLE BUTTON, LOGO, NAV ITENS)-->
		<header th:replace="~{fragments/navbar :: navbar}"></header>

		<!-- ========== Left Sidebar Start ========== -->
		<div th:replace="~{fragments/sidenav :: sidenav}"></div>

		<!-- ============================================================== -->
		<!-- Start right Content here -->
		<!-- ============================================================== -->
		<div class="main-content">

			<div class="page-content">
				<div class="container-fluid">

					<!-- start page title -->
					<div class="row">
						<div class="col-12">
							<div
								class="page-title-box d-flex align-items-center justify-content-between">
								<h4 class="mb-0">Informações de Cadastro</h4>
								<div class="page-title-right">
									<ol class="breadcrumb m-0">
										<li class="breadcrumb-item">Usuário</li>
										<li class="breadcrumb-item">Info</li>
									</ol>
								</div>
							</div>
						</div>
					</div>
					<!-- end page title -->

					<div class="row">
						<div class="col-xl-6">
							<div class="card">
								<div
									class="card-header justify-content-between d-flex align-items-center">
									<h4 class="card-title">Cadastro</h4>
								</div>
								<!-- end card header -->
								<div class="card-body" th:object="${usuario}">
									<div class="row">
										<div class="col-sm-3 text-truncate"><strong>Nome:</strong></div>
										<div class="col">
											<label th:text="${usuario.nome}"> </label>
										</div>
									</div>
									<!-- end row -->
									<div class="row">
										<div class="col-sm-3 text-truncate"><strong>Sobrenome:</strong></div>
										<div class="col">
											<label th:text="${usuario.sobrenome}"> </label>
										</div>
									</div>
									<!-- end row -->
									<div class="row">
										<div class="col-sm-3 text-truncate"><strong>Masp:</strong></div>
										<div class="col">
											<label th:text="${usuario.masp}"> </label>
										</div>
									</div>
									<!-- end row -->
									<div class="row">
										<div class="col-sm-3 text-truncate"><strong>Carreira:</strong></div>
										<div class="col">
											<label th:text="${usuario.carreira.descricao}"> </label>
										</div>
									</div>
									<!-- end row -->
									<div class="row">
										<div class="col-sm-3 text-truncate"><strong>Unidade:</strong></div>
										<div class="col">
											<label th:text="${usuario.codigo.descricao}"> </label>
										</div>
									</div>
									<!-- end row -->
									<div class="row mt-2">
                                       	<div class="col-md-3">
                                      		<a class="btn btn-primary"
											th:href="@{/usuarios/{id}(id = ${usuario.id})}">Atualizar</a>
										</div>
									</div>
								</div>
								<!-- end card body -->
							</div>
							<!-- end card -->
						</div>
						<!-- end col -->

						<div class="col-xl-6">
							<div class="card">
								<div
									class="card-header justify-content-between d-flex align-items-center">
									<h4 class="card-title">Permissões deste Usuário</h4>
								</div>
								<!-- end card header -->
								<div class="card-body">

									<form action="/usuarios/autorizar" th:method="PUT"
										id="formpermissao" th:object="${usuario}">

										<input type="hidden" th:field="*{id}">

										<!-- Form Row-->
										<div class="row gx-3">
											<!-- Form Group (Roles)-->
											<div class="col-md-8 mb-3">
												<select id="authorization" name="authorization"
													class="form-select">
													<option value="ROLE_CADASTRO_FROTA" disabled="disabled"
														selected="selected">Selecione uma permissão...</option>
													<option value="ROLE_CADASTRO_FROTA">CADASTRO_FROTA</option>
													<option value="ROLE_CADASTRO_PESSOAL">CADASTRO_PESSOAL</option>
													<option value="ROLE_CADASTRO_USUARIO">CADASTRO_USUARIO</option>
													<option value="ROLE_RELATORIO_FROTA">RELATORIO_FROTA</option>
													<option value="ROLE_RELATORIO_PESSOAL">RELATORIO_PESSOAL</option>
													<option value="ROLE_RELATORIO_USUARIO">RELATORIO_USUARIO</option>
													<option value="ROLE_RELATORIO_GERAL">RELATORIO_GERAL</option>
												</select>
											</div>
											<div class="col-md-4 mb-3">
												<button class="btn btn-primary" type="submit">Incluir</button>
											</div>
										</div>
									</form>
									<table
										class="table table-hover table-sm table-nowrap mt-3 align-middle">
										<thead class="bg-light">
											<tr>
												<th>Permissões</th>
												<th class="text-center">Excluir</th>
											</tr>
										</thead>
										<tbody>
											<tr th:each="permissao:${usuario.permissoes}">
												<td th:text="${permissao.permissao}"></td>
												<td class="text-center"><a data-bs-toggle="tooltip"
													data-bs-placement="top" title="Excluir"
													th:href="@{/usuarios/desautorizar(idPermissao = ${permissao.id}, idUsuario = ${usuario.id})}">
														<i class="mdi mdi-trash-can font-size-18 text-muted"></i>
												</a></td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
							<!-- end card -->
						</div>
						<!-- end col -->
					</div>
					<!-- end row -->
					<!-- End Form Layout -->

				</div>
				<!-- container-fluid -->
			</div>
			<!-- End Page-content -->

			<!--FOOTER INFERIOR)-->
			<footer th:replace="~{fragments/footer :: footer}"></footer>

		</div>
		<!-- end main content-->

	</div>
	<!-- END layout-wrapper -->
	
	<!-- Right bar overlay-->
    <div class="rightbar-overlay"></div>
    
    <!-- JQUERY -->
	<script type="text/javascript" src="/js/jquery-3.5.1.js"></script>
	<script type="text/javascript" src="/js/jquery.validate.min.js"></script>
    
    <!--MY JAVASCRIPT--> 
    <script type="text/javascript" src="/js/scripts.js"></script>
    <script type="text/javascript" src="/js/validate.js"></script>

	<!-- JAVASCRIPT -->
    <script src="/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/libs/simplebar/simplebar.min.js"></script>
    <script src="/libs/feather-icons/feather.min.js"></script>
    
    <script src="/js/app.js"></script>
</body>
</html>